we found something you might be interested in
- @product_infos.each do |product_info|
  = 'http://pacific-hamlet-3033.herokuapp.com/product_infos/' + product_info.id.to_s + ' ' + "(original url: #{product_info.uri})"

Thanks for choosing Ceraigslist and have a great day!