%h1 Forgot Password
= form_tag email_password_user_path, method: :post, class: 'input_form' do
  = label :user, :email, 'please enter your email'
  = text_field :user, :email
  %br
  = submit_tag 'Submit', class: 'btn'