development:
  adapter: postgresql
  encoding: unicode
  database: myapp_development
  pool: 5
test:
  adapter: postgresql
  encoding: unicode
  database: myapp_test
  pool: 5
production:
  adapter: postgresql
  encoding: unicode
  database: myapp_production
  pool: 5