:plain
  $("#products").html('#{escape_javascript(render 'products' )}');
  $('.pagination-notice').hide();
  $('body').animate({scrollTop: 0}, 100);
  $('#price_min').val('');
  $('#price_max').val('');
  $('#tag').val('');
  $('#search').val();
  $('.pagination a').on('click', function() {
    $notice = $('.notice');
    if ($notice.length > 0) {
      $notice.show();
    }
    else {
      $('<div class = \'pagination-notice\'>Page is loading...</div>').insertBefore('.index-table');
    }
    $.getScript(this.href);
    return false;
  });
  