:plain
  $("#products").html('#{escape_javascript(render 'products' )}');
  $('.pagination-notice').hide();
  $('body').animate({scrollTop: 0}, 100);
  $('#price_min').val('');
  $('#price_max').val('');
  $('#tag').val('');
  $('#search').val();
  